@{
    ViewBag.Title = "How you can arrive at Mira-Maré Hotel";
    Layout = "~/Areas/English/Views/Shared/_MiraMareEnglish.cshtml";
}


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPqFCHJNzVBe3naE5LgHHeK68hWkzK2Is&sensor=false"></script>
<script type="text/javascript" src="http://www.map-generator.org/map/iframejs/72345fae-cd87-4294-9566-b86def45bfa7?key=AIzaSyCPqFCHJNzVBe3naE5LgHHeK68hWkzK2Is&width=800px&height=600px"></script>




<div class="container">
    <div class="section_header">
        <h3><img src="@Url.Content("~/images/en.png")" />How you can arrive at Mira-Maré Hotel </h3>
    </div>
</div>


<div class="container">
    <p class="texto">
        <img src="@Url.Content("~/images/en.png")" />

        The Mira-Maré Hotel is at the Miguel Estéfano Avenue, 4479, in the Enseada Beach coastline, in Guarujá. It is one hour from São Paulo, by Imigrantes or Anchieta Roads, with direct access by Piaçaguera Road, or by the Santos-Guarujá or Guarujá-Bertioga ferries. ZIP: 11440-534

    </p>
</div>


<div class="container">
    <div id="mapid-72345fae-cd87-4294-9566-b86def45bfa7"></div>
</div>

