
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Hotel.cshtml";
}




<div class="container">
    <div class="section_header">
        <h3>Serviços próximos ao hotel</h3>
    </div>
    <div class="row contact">
        <p class="texto">
            
            
            O HOTEL MIRA-MARÉ dista poucas quadras dos melhores restaurantes do Guarujá, de um centro de esportes náuticos, de um centro comercial e da estrada de acesso à Praia de Pernambuco e demais praias do litoral norte
            

            
        </p>
    </div>
</div>

<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    <li><a href="#"><img src="Fotos/Proximidades/1.jpg" data-large="Fotos/Proximidades/1.jpg" alt="image23" data-description="Serviços próximos ao hotel" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/2.jpg" data-large="Fotos/Proximidades/2.jpg" alt="image23" data-description="Serviços próximos ao hotel" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/3.jpg" data-large="Fotos/Proximidades/3.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/4.jpg" data-large="Fotos/Proximidades/4.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/5.jpg" data-large="Fotos/Proximidades/5.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/6.jpg" data-large="Fotos/Proximidades/6.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/7.jpg" data-large="Fotos/Proximidades/7.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/8.jpg" data-large="Fotos/Proximidades/8.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/9.jpg" data-large="Fotos/Proximidades/9.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/10.jpg" data-large="Fotos/Proximidades/10.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/11.jpg" data-large="Fotos/Proximidades/11.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/12.jpg" data-large="Fotos/Proximidades/12.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/13.jpg" data-large="Fotos/Proximidades/13.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/14.jpg" data-large="Fotos/Proximidades/14.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/15.jpg" data-large="Fotos/Proximidades/15.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/16.jpg" data-large="Fotos/Proximidades/16.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    <li><a href="#"><img src="Fotos/Proximidades/17.jpg" data-large="Fotos/Proximidades/17.jpg" alt="image23" data-description="Quarto superior" /></a></li>
                    
                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>

<noscript>
    <style>
        .es-carousel ul {
            display: block;
        }
    </style>
</noscript>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>

