@model MiraMareHotel.Models.TarifaPacotePeriodo


<div class="section_header">
    <h3>
        <img src="@Url.Content("~/images/en.png")" /> Holiday packages pricefrom  <span> @Html.DisplayFor(model => model.De) to @Html.DisplayFor(model => model.Ate)</span> - @Html.DisplayFor(model => model.Nome)
    </h3>
</div>

