@model MiraMareHotel.Models.TarifaPacotePeriodo


@{

    Layout = null;
}

<h5>Tarifa para pacotes entre <span> @Html.DisplayFor(model => model.De) e @Html.DisplayFor(model => model.Ate) </span> - Feriado - @Html.DisplayFor(model => model.Nome) </h5>




