@model MiraMareHotel.Models.TarifaPacotePeriodo
           

<div class="section_header">
    <h3><img src="@Url.Content("~/images/br.png")" />Tarifa para pacotes entre<span> @Html.DisplayFor(model => model.De) e @Html.DisplayFor(model => model.Ate)</span> - @Html.DisplayFor(model=>model.Nome) </h3>
</div>
