
@{
    ViewBag.Title = "Acomodações";
    Layout = "~/Views/Shared/_Hotel.cshtml";
}





<div class="container">
    <div class="section_header">
        <h3><img src="../images/br.png" />Acomodações <img src="../images/um.png" alt=""> Facilities <img src="../images/it.png" alt=""> Comodità</h3>
    </div>
</div>

<div id="rg-gallery" class="rg-gallery">
    <div class="rg-thumbs">
        <!-- Elastislide Carousel Thumbnail Viewer -->
        <div class="es-carousel-wrapper">
            <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
            </div>
            <div class="es-carousel">
                <ul>
                    
                  

                    <li><a href="#"><img src="@Url.Content("~/Fotos/Acomodacoes/Thumb/01_ap-duplo.jpg")" data-large="../Fotos/Acomodacoes/01_ap-duplo.jpg" alt="Apartamento duplo" data-description="Apartamento duplo" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/02_ap-duplo.jpg" data-large="../Fotos/Acomodacoes/02_ap-duplo.jpg" alt="Apartamento duplo" data-description="Apartamento Duplo" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/03_ap-duplo-com-varanda.jpg" data-large="../Fotos/Acomodacoes/03_ap-duplo-com-varanda.jpg" alt="Apartamento duplo com varanda" data-description="Apartamento duplo com varanda" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/04_ap-duplo-com-varanda.jpg" data-large="../Fotos/Acomodacoes/04_ap-duplo-com-varanda.jpg" alt="Apartamento duplo" data-description="Apartamento duplo" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/05_ap-duplo-com-varanda.jpg" data-large="../Fotos/Acomodacoes/05_ap-duplo-com-varanda.jpg" alt="Apartamento duplo com varanda" data-description="Apartamento duplo com varanda" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/06_ap-triplo.jpg" data-large="../Fotos/Acomodacoes/06_ap-triplo.jpg" alt="Apartamento triplo" data-description="Apartamento triplo" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/07_ap-triplo-com-varanda.jpg" data-large="../Fotos/Acomodacoes/07_ap-triplo-com-varanda.jpg" alt="Apartamento triplo com varanda" data-description="Apartamento triplo com varanda" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/08_ap-triplo-com-varanda.jpg" data-large="../Fotos/Acomodacoes/08_ap-triplo-com-varanda.jpg" alt="Apartamento triplo com varanda" data-description="Apartamento triplo com varanda" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/09_ap-quadruplo.jpg" data-large="../Fotos/Acomodacoes/09_ap-quadruplo.jpg" alt="Apartamento quadruplo" data-description="Apartamento quadruplo" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/10_ap-quadruplo.jpg" data-large="../Fotos/Acomodacoes/10_ap-quadruplo.jpg" alt="Apartamento quadruplo" data-description="Apartamento quadruplo" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/11_banheiro.jpg" data-large="../Fotos/Acomodacoes/11_banheiro.jpg" alt="Banheiro" data-description="Banheiro" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/12_-entrada-do-ap.jpg" data-large="../Fotos/Acomodacoes/12_-entrada-do-ap.jpg" alt="Entrada do apartamento" data-description="Entrada do apartamento" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/13_-armario-e-cofre.jpg" data-large="../Fotos/Acomodacoes/13_-armario-e-cofre.jpg" alt="Armário e cofre" data-description="Armário e cofre" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/14_varanda.jpg" data-large="../Fotos/Acomodacoes/14_varanda.jpg" alt="Varanda" data-description="Varanda" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/15_varanda.jpg" data-large="../Fotos/Acomodacoes/15_varanda.jpg" alt="Varanda" data-description="Varanda" /></a></li>
                    <li><a href="#"><img src="../Fotos/Acomodacoes/Thumb/16_varanda.jpg" data-large="../Fotos/Acomodacoes/16_varanda.jpg" alt="Varanda" data-description="Varanda" /></a></li>
                    <li><a href="#"> <img src="../Fotos/Acomodacoes/Thumb/17_varanda.jpg" data-large="../Fotos/Acomodacoes/17_varanda.jpg" alt="Varanda" data-description="Varanda" /></a></li>

                </ul>
            </div>
        </div>
        <!-- End Elastislide Carousel Thumbnail Viewer -->
    </div><!-- rg-thumbs -->
</div>

<div class="container">
    <div class="row contact">
        <p class="texto">
            <img src="../images/br.png" />
            Apartamentos amplos, para até 4 hóspedes, com televisão, ar-condicionado spleet, ventilador de teto,
            frigobar, interfone, cofre, Internet Wireless. Oito apartamentos têm ampla varanda de frente para o mar.
            Os demais apartamentos são de frente para o mar ou para o jardim do hotel.
        </p>

        <p class="texto">
            <img src="../images/um.png" alt="">
            Spacious bedrooms, to until 4 guests, provided with TV set, air-conditioning, ceiling fan, refrigerator, interphone and safe. Eight of our bedrooms have big balconies, overlooking the sea. The other bedrooms overlook the sea or our garden
        </p>

        <p class="texto">
            <img src="../images/it.png" alt="">
            Camere ampie, con  bagno, per accomodare fino 4 ospiti, con televisore, aria condizionata, ventilatore a soffitto, frigo-bar, box doccia, telefono interno, Internet Wireless.
            Otto camere hanno un’ampio balcone che si apre sul mare. Dalle altre camere anche si guarda il mare od un giardino tropicale.
        </p>

    </div>
</div>

<noscript>
    <style>
        .es-carousel ul {
            display: block;
        }
    </style>
</noscript>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>

