<footer id="footer">
    <div class="container">
        <div class="row sections">



            <div class="span4 recent_posts">
                <h3 class="footer_header">
                    Mira-Maré Praia Hotel
                </h3>
                <div class="post">
                    <img src="@Url.Content("~/imageshotel/proximidades/thumbs/04.jpg")" class="img-circle" />
                    <br/>
                    <br />
                    <br />
                    miramare@hotelmiramare.com.br <br />
                    www.hotelmiramare.com.br <br />
                    <div class="date">
                        Av. Miguel Estéfano 4479, Praia da Enseada, Guarujá, São Paulo, Brasil
                    </div>
                    Ddd:             (0xx13) 33515051 <br/>
                    Tim:  (0xx13) 98127-0008 ou 98127-0009 <br />
                    Ddi:              (055xx13) 33515051 <br />
                    Fax:             (0xx13) 33921432<br />
                </div>

            </div>



            <div class="span4 testimonials">
                <h3 class="footer_header">
                    Avaliações
                </h3>
                <div class="wrapper">
                    <div class="quote">

                    </div>
                    <div class="author">
                        <div class="name"></div>
                        <div class="info">
                        </div>
                        <div id="TA_socialButtonIcon778" class="TA_socialButtonIcon">
                            <ul id="T9xxZYa" class="TA_links G8ow8w60">
                                <li id="0OOSNGQ1P" class="JieXZgkpbr">
                                    <a target="_blank" href="http://www.tripadvisor.com.br/Hotel_Review-g303610-d2480307-Reviews-Mira_Mare_Praia_Hotel-Guaruja_State_of_Sao_Paulo.html"><img src="http://www.tripadvisor.com.br/img/cdsi/img2/branding/socialWidget/32x32_green-21690-2.png" /></a>
                                </li>
                            </ul>
                        </div>
                        <script src="http://www.jscache.com/wejs?wtype=socialButtonIcon&amp;uniq=778&amp;locationId=2480307&amp;color=green&amp;size=med&amp;lang=pt&amp;display_version=2"></script>
                        </div>
                </div>
            </div>
            <div class="span4 contact">
                <h3 class="footer_header">
                    Contato
                </h3>
                <input type="text" placeholder="Informe seu nome" id="nome" />
                <input type="text" placeholder="Informe seu e-mail" id="email" />
                <textarea rows="3" placeholder="Mensagem" id="mensagem"></textarea>
                <input type="submit" value="Enviar" id="enviar" />
                <div id="mensagemErro"></div>
            </div>
        </div>
        <div class="row credits">
            <div class="span12">
                <div class="row social">
                    <div class="span12">
                        <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.hotelmiramare.com.br/&layout=standard&show_faces=false&width=380&action=like&colorscheme=light&height=25" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 250px; height: 25px;" allowtransparency="true"></iframe>


                        <a href="http://www.facebook.com/miramarehotel" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>

                        <a href="https://plus.google.com/104685358290279520756" class="gplus">
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12">
                        Hotel Mira-Maré - Guaruja - São Paulo - SP
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




<noscript>
    <style>
        .es-carousel ul {
            display: block;
        }
    </style>
</noscript>

<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
    <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
        <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Imagem anterior</a>
            <a href="#" class="rg-image-nav-next">Proxima imagem</a>
        </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
            <div class="rg-caption" style="display:none;">
                <p></p>
            </div>
        </div>
    </div>
</script>




<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47451020-1', 'hotelmiramare.com.br');
    ga('send', 'pageview');

</script>